*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #ffeaa7;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.row{
    display: flex;
    gap: 8px;
}

button{
    border: none;
    padding: 10px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 4px;
}

.row:last-child > button:first-child{
   flex: 1;
}

.display{
    padding: 20px 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
}