*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #ffffff;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Passion One', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #dfe4ea;
    padding: 10px;
}
.row{
    display: flex;
    gap: 8px;
}

button{
    border: none;
    padding: 10px;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 45px;
    font-family: inherit;
}

.row:last-child > button:first-child{
   flex: 1;
   aspect-ratio: unset;
}

.display{
    padding: 10% 5%;
    text-align: right;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    font-size: 60px;
}